---
http_interactions:
- request:
    method: get
    uri: https://api.cnb.cz/cnbapi/exrates/daily?date=2025-03-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: '400'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"description":"ValidationErrorCode: typeMismatch;  Field: date; Value:
        failed","errorCode":"VALIDATION_ERROR","happenedAt":"2025-04-30 18:40:52","endPoint":"/cnbapi/exrates/daily?date=failed","messageId":"6NzNT18vejmQ"}'
  recorded_at: Wed, 30 Apr 2025 15:40:52 GMT
recorded_with: VCR 6.3.1
