---
http_interactions:
- request:
    method: get
    uri: https://api.cnb.cz/cnbapi/exrates/daily?lang=EN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rates":[{"validFor":"2025-04-29","order":82,"country":"Australia","currency":"dollar","amount":1,"currencyCode":"AUD","rate":14.038},{"validFor":"2025-04-29","order":82,"country":"Brazil","currency":"real","amount":1,"currencyCode":"BRL","rate":3.876},{"validFor":"2025-04-29","order":82,"country":"Bulgaria","currency":"lev","amount":1,"currencyCode":"BGN","rate":12.742},{"validFor":"2025-04-29","order":82,"country":"Canada","currency":"dollar","amount":1,"currencyCode":"CAD","rate":15.831},{"validFor":"2025-04-29","order":82,"country":"China","currency":"renminbi","amount":1,"currencyCode":"CNY","rate":3.012},{"validF[...]
